html,body {
    color: #4d4e53;
    background-color: #ffffff;
    font-family: "Open Sans", Arial, sans-serif;
}


ul {
    list-style-type: none; 
}

section ul {
    list-style-type: disc; 
}



#navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    display: block;
    padding : 20px;
}
#navbar li {
    border-top: 1px solid #4d4e53;
    margin-left: -40px;
    padding: 5px;
}
#navbar h2 {
    margin-left: -30px;
    padding-right: 10px; 
    
}
#navbar {
    position: fixed;
    left: 0px;
    top: 0px;
    color: rgb(255, 0, 0);
    border-right: 5px solid rgb(14, 14, 14);
    width: 300px;
}


#main-doc {
   
}
.main-section{
    width: 880px;
    font-size: 16px;
    position: absolute;
    left: 20%;
    
}
